In [1]:
import pandas as pd

In [2]:
rank_lib_scores = 'lambdaMART_model_k5_t10000_L500'

In [3]:
ranklib_df = pd.read_csv(rank_lib_scores + '.scores', sep="\t", header=None, names=['srch_id', 'local_prod_id', 'score'])
ranklib_df.head()

   srch_id  local_prod_id     score
0        1              0 -0.835154
1        1              1 -0.170507
2        1              2 -0.799394
3        1              3 -0.840168
4        1              4 -0.140100

In [4]:
test_df = pd.read_csv("test_set_VU_DM.csv", header=0, usecols=['srch_id', 'prop_id'])
test_df['score'] = -ranklib_df['score']
test_df.head()

   srch_id  prop_id     score
0        1     3180  0.835154
1        1     5543  0.170507
2        1    14142  0.799394
3        1    22393  0.840168
4        1    24194  0.140100

In [5]:
sorted_df = test_df[['srch_id', 'prop_id', 'score']].sort_values(['srch_id', 'score'])
sorted_df.score = -sorted_df.score
sorted_df.head()

    srch_id  prop_id     score
23        1    99484  1.899852
9         1    54937  0.770123
12        1    61934  0.596870
5         1    28181  0.561566
20        1    90385  0.374802

In [6]:
submission = pd.DataFrame({'srch_id': sorted_df.srch_id, 'prop_id': sorted_df.prop_id})[['srch_id', 'prop_id']]
submission.to_csv(rank_lib_scores + '_submission.csv', index=False)
submission.head()

    srch_id  prop_id
23        1    99484
9         1    54937
12        1    61934
5         1    28181
20        1    90385