In [1]:
import pandas as pd

In [ ]:
rank_lib_scores = 'lambdaMART_model_k5_l7_mls50000'

In [2]:
ranklib_df = pd.read_csv(rank_lib_scores + '.scores', sep="\t", header=None, names=['srch_id', 'local_prod_id', 'score'])
ranklib_df.head()

   srch_id  local_prod_id     score
0        1              0 -0.110549
1        1              1  0.162628
2        1              2 -0.146066
3        1              3 -0.320596
4        1              4  0.907028

In [3]:
test_df = pd.read_csv("test_set_VU_DM.csv", header=0, usecols=['srch_id', 'prop_id'])
test_df['score'] = -ranklib_df['score']
test_df.head()

   srch_id  prop_id     score
0        1     3180  0.110549
1        1     5543 -0.162628
2        1    14142  0.146066
3        1    22393  0.320596
4        1    24194 -0.907028

In [4]:
sorted_df = test_df[['srch_id', 'prop_id', 'score']].sort_values(['srch_id', 'score'])
sorted_df.score = -sorted_df.score
sorted_df.head()

    srch_id  prop_id     score
23        1    99484  2.237154
12        1    61934  1.819490
9         1    54937  1.552247
5         1    28181  1.100359
18        1    82231  1.073128

In [5]:
submission = pd.DataFrame({'srch_id': sorted_df.srch_id, 'prop_id': sorted_df.prop_id})[['srch_id', 'prop_id']]
submission.to_csv(rank_lib_scores + '_submission.csv', index=False)
submission.head()

    srch_id  prop_id
23        1    99484
12        1    61934
9         1    54937
5         1    28181
18        1    82231